@page "/monster"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using DndApp.Data;
<h3>Display Monsters</h3>
@foreach(ApiClasses.Result monster in myMonsters){
    <a href="/monster/@monster.index">
    <p>@monster.name</p>
    </a>
}


@code {
    [Inject]
    public HttpClient httpClient { get; set; }

    public ApiClasses.Rootobject myJson { get; set; }

    public ApiClasses.Result[] myMonsters { get; set; }

    protected override async Task OnInitializedAsync(){

        myJson = await JsonSerializer.DeserializeAsync<ApiClasses.Rootobject>
        (await httpClient.GetStreamAsync($"/api/monsters"));
        myMonsters = myJson.results;
    }
}
