@page "/monster/{monsterindex}"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using DndApp.Data;

<p>@myMonster.name</p>
<p>Size: @myMonster.size</p>
@code {
    [Parameter]
    public string monsterindex { get; set; }

    //get only spell data
    //build spell class

    [Inject]
    public HttpClient httpClient { get; set; }

    public Monster.Rootobject myMonster { get; set; }

    protected override async Task OnInitializedAsync()
    {
        myMonster = await JsonSerializer.DeserializeAsync<Monster.Rootobject>
         (await httpClient.GetStreamAsync($"/api/monsters/{monsterindex}"));

       
    }
}