@page "/classes"
@using DndApp.Data
@using DndApp.Services
@inject JsonService jservice;
<div class="text-center"> 

<h1>CharClass</h1>
@if (myClasses != null)
{
    <div class="row">
    @foreach (var Class in myClasses)
    {
        <div class="card col-md-4 col-lg-2">
            <a href="/classes/@Class.index" class=" nav-link p-0 m-0 ">
                <div class="card-body">
                    <p class=" h3 text-black">@Class.name</p>
                </div>
            </a>
        </div>
    }
    </div>

}
</div>

@code {
    [Inject]
    public HttpClient httpClient { get; set; }


    public ApiClasses.Rootobject myJson { get; set; }

    public ApiClasses.Result[] myClasses { get; set; }


    protected override async Task OnInitializedAsync()
    {
        myJson = await jservice.ListItem("classes");
        myClasses = myJson.results;
    }
}
