@page "/"
@using DndApp.Data;
@using Microsoft.EntityFrameworkCore;
@using SqliteWasmHelper;
@inject ISqliteWasmDbContextFactory<DNDDbContext> contextFactory

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button @onclick=addCharacterAsync>Add Character</button>

@if(characterInfo != null)
{
   foreach(var character in characterInfo)
    {
        <p>@character.Name</p>
    }
}

@code {
    DNDDbContext ctx;

    protected override async Task OnInitializedAsync()
    {
        ctx = await contextFactory.CreateDbContextAsync();
        await addCharacterAsync();
    }

    async Task addCharacterAsync()
    {
        ctx.UserCharacterInfos.Add(new UserCharacterInfo
            {
                Name = "Test",
                Class = "Back-End",
                Charisma = 5,
                Constitution = 6,
                Dexterity = 7,
                Intelligence = 8,
                Race = "Race",
                Strength = 9,
                Wisdom = 10
            });
        await ctx.SaveChangesAsync();

        characterInfo = await ctx.UserCharacterInfos.ToListAsync();
    }

    IEnumerable<UserCharacterInfo> characterInfo;
}