@page "/"
@using DndApp.Data;
@using Microsoft.EntityFrameworkCore;
@using SqliteWasmHelper;
@inject ISqliteWasmDbContextFactory<DNDDbContext> contextFactory

<PageTitle>Index</PageTitle>

<h1>Hello, user! Welcome to our DnD Page</h1>