@page "/spell"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using DndApp.Data;
<h3>Spells</h3>
@if(mySpells != null){
    @foreach (ApiClasses.Result spell in mySpells)
    {

        <a href="/spell/@spell.index">
        <p>@spell.name</p>
        </a> 
    }
}


@code {
    
    [Inject]
    public HttpClient httpClient { get; set; }
    public ApiClasses.Rootobject myJson { get; set; }
    public ApiClasses.Result[] mySpells { get; set; }
    protected override async Task OnInitializedAsync()
    {
        myJson = await JsonSerializer.DeserializeAsync<ApiClasses.Rootobject>
        (await httpClient.GetStreamAsync($"https://www.dnd5eapi.co/api/spells"));
        mySpells = myJson.results;
    }
}
